body {
    background-color: lightgrey;
}

h1, h2, h3, h4, h5 {
    padding: 1rem 0;
}

input, select {
    border-radius: 5px;
}

label{
    padding-bottom: 1rem;
}

.info-message{
    background-color: dodgerblue;
    font-weight: bolder;
    text-align: center;
    padding: 2rem 0;
    border-radius: 0.75rem;
    border: 5px solid darkslategrey;
}

.info-text{
    color: dodgerblue;
    font-weight: bold;
    padding-bottom: 1rem;
}