{% extends "base.html.twig" %}

{% block main_content %}

    {% include 'navbar.html.twig' %}

    <script type="module" src="js/birthday.js"></script>


    <div class="vh-100">
        <div class="container-md">
            <h1 class="greeting">Herzlich Willkommen !</h1>
        </div>

        <div class="container-md birthday-div">

            <h2 class="text-decoration-underline">Anstehende Geburtstage</h2>

            <table class="table table-hover birthdays-table" >
                <thead>
                <tr>
                    <th scope="col">Mitgliedsnummer</th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Geburtstag</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}