{% extends "base.html.twig" %}

{% block main_content %}

    {% include 'navbar.html.twig' %}

    <script type="module" src="js/member.js"></script>

    <div class="container-md member-div">

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Abteilung</th>
                <th scope="col">Anwesend</th>
                <th scope="col">Berechtigt?</th>
            </tr>
            </thead>
            <tbody class="table-body-members">
            </tbody>
        </table>

        <button class="test-btn">test button</button>
        <p class="test-p"></p>

    </div>

{% endblock %}