{% extends "base.html.twig" %}

{% block main_content %}

    {% include 'navbar.html.twig' %}

    <div class="container-md">

        Willkommen im glühenden Colt GenossenKamerad

    </div>

{% endblock %}