{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock title %}

{% block main_content %}

    {% include 'navbar.html.twig' %}

    {% if message is defined and message is not null %}
        <p class="info-message mt-3">{{ message }}</p>
    {% endif %}

<div class="d-flex justify-content-center">
    <div>
        <form class="d-flex flex-column align-items-center" action="{{ path('check_login') }}" method="post">
            <h3 class="title login-h">Login</h3>
            <input type="text" class="memberId login-input mb-3" name="memberId" placeholder="Benutzer-ID">
            <input type="password" class="password login-input mb-3" name="password" placeholder="Passwort">
            <button class="btn btn-outline-light" type="submit">Einloggen</button>
        </form>
    </div>
</div>


{% endblock %}