{% extends "base.html.twig" %}

{% block title %}
    Mitglieder
{% endblock title %}

{% block main_content %}

    {% include 'navbar.html.twig' with {
        tab : 'members'
    }%}

    <script type="module" src="js/member.js"></script>

    <div class="container-md member-div">

        <h2 class="text-decoration-underline">Mitglieder</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Abteilung</th>
                <th scope="col">Anwesend</th>
                <th scope="col">Berechtigt?</th>
            </tr>
            </thead>
            <tbody class="table-body-members">
            </tbody>
        </table>

        <div class="d-flex justify-content-end">
            <a href="{{ path('new_member') }}" class="btn bg-info ">Mitglied anlegen</a>
        </div>

    </div>

{% endblock %}