{% extends "base.html.twig" %}

{% block title %}
    Mitglieder
{% endblock title %}

{% block main_content %}

    {% include 'navbar.html.twig' with {
        tab : 'members'
    }%}

    <div class="container-md member-div vh-100">
        <div class="d-flex justify-content-center">
            <form class="d-flex flex-column w-35" action="{{ path('create_new_member') }}" method="post">

                <h3>Neues Mitglied anlegen</h3>

                <label for="firstName">Vorname</label>
                <input name="firstName" type="text" required>

                <label for="lastName">Nachname</label>
                <input name="lastName" type="text" required>

                <label for="email">E-Mail</label>
                <input name="email" type="email" required>

                <label for="street">Straße</label>
                <input name="street" type="text" required>

                <label for="houseNumber">Hausnummer</label>
                <input name="houseNumber" type="text" required>

                <label for="zip">Postleitzahl</label>
                <input name="zip" type="number">

                <label for="locus">Ort</label>
                <input name="locus" type="text">

                <label for="phone">Telefonnummer</label>
                <input name="phone" type="number" required>

                <label for="birthday">Geburtstag</label>
                <input name="birthday" type="date" required>

                <fieldset>
                    <h3 class="mt-3">Abteilungen</h3>
                    <div class="departmentcontainer">
                        <input name="gun" type="checkbox" value="true">
                        <label for="gun">Schusswaffen</label>
                    </div>
                    <div class="departmentcontainer">
                        <input name="bow" type="checkbox" value="true">
                        <label for="bow">Bogen</label>
                    </div>
                    <div class="departmentcontainer">
                        <input name="airPressure" type="checkbox" value="true">
                        <label for="airPressure">Luftdruck</label>
                    </div>
                </fieldset>
                <div class="pt-3 d-flex justify-content-between row">
                    <a class="col-5 btn btn-dark " href="{{ path('members') }}">Abbrechen</a>
                    <input class="col-5 btn btn-dark" type="submit" value="Anlegen" name="create">
                </div>

            </form>
        </div>

    </div>

{% endblock %}